/node_modules
/vendor
/.git
/.github
/.idea
/.vscode
.env
.env.*
!.env.example
!.env.production.example
/storage/*.key
/public/storage
/public/hot
/public/build
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
*.log
*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore
